// body{
//     font-family: "Noto Serif TC", serif;
//     line-height: 1.5;
// }

.lato-font{
    font-family: "Lato",serif;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    // text-decoration: none;
    color: inherit;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6{
    // margin: 0;
    letter-spacing: 0.1em;
}
p{
    // margin: 0;
    letter-spacing: 0.05em;
}